* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../Media/Mountains.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

h1 a,
h2 {
  font-family: "Big Shoulders Stencil Display", cursive;
}

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 65px;
  background-color: #1a535c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav h1 a {
  font-size: 2.5rem;
  height: 100%;
  padding: 0.4rem 1rem;
}

nav .navelemente {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navelemente a {
  font-size: 1.6rem;
  padding: 1rem 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .navelemente .contact-background {
  background-color: #4ecdc4;
  color: whitesmoke;
}

nav .navelemente .contact-background:hover {
  background-color: #1a535c;
  color: whitesmoke;
}

nav #hamburger {
  position: relative;
  height: 40px;
  width: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

nav #hamburger span {
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: whitesmoke;
  top: 8px;
  border-radius: 4px;
}

nav #hamburger span:nth-child(2) {
  top: 18px;
}

nav #hamburger span:nth-child(3) {
  top: 28px;
}

nav #hamburger.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

nav a:hover:not(.contact-background) {
  color: whitesmoke;
  background-color: #4ecdc4;
}

main {
  min-width: 400px;
  width: 85%;
  background: #d7fdff;
  margin: 8rem auto;
}

main section {
  margin-top: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

main #grid div {
  text-align: center;
  font-size: 10em;
  border-radius: 4px;
  border: 1px solid black;
}

@media only screen and (max-width: 700px) {
  nav #hamburger {
    display: block !important;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  nav .navelemente {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100vw;
    background-color: #1a535c;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .navelemente a {
    padding-top: 1.4rem;
    font-size: 1rem;
  }
  nav .navelemente.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */